<<<<<<< HEAD
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}
.page-title-span {
	margin-left: 10px;
}
.button-right-icon {
	margin-left: 10px;
}
/*Login section*/
.login-cover {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 800;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loginProgress {
	display: none;
}
.header {
	border-bottom: 1px solid rgb(175, 166, 166); 
	padding: 2%;
	text-align: center;
	z-index: -5;
  }
  
.margin-top {
	margin-top: 5em;
  }
#loginError {
	display: none;
}
dialog {
	width: 100%;
	height: 100vh;
	border: none;
	color: none;
	background: none;
}
dialog::backdrop {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: none;
}
.footer {
	border-top: 1px solid rgb(175, 166, 166); 
	bottom: 0;
	position: fixed;
	width: 100vw;
	text-align: center;
  }
=======
.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid #999999; 
  padding: 2%;
}

.margin-top {
  margin-top: 5%;
}

.footer {
  border-top: 1px solid #999999; 
  bottom: 0;
  position: fixed;
  width: 100vw;
}

>>>>>>> 6195d725e4d5e287b672dd836c4ef5d23fb511c2

