.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid rgb(175, 166, 166); 
  padding: 2%;
}

.margin-top {
  margin-top: 5%;
}

.footer {
  border-top: 1px solid rgb(175, 166, 166); 
  bottom: 0;
  position: fixed;
  width: 100vw;
}


